/*BOX SIZING*/
html {
    box-sizing: border-box;
}
*,
*:before
*:after {
    box-sizing: inherit;
}
/*Content Box*/
.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}
.contentbox li {
    color: #373737;
}
.contentbox-beige {
    background-color: #f9f8f8;
    padding: 10px;
    margin-bottom: 70px;
}
.contentbox-beige>img {
    float:left;
    margin-right:15px;
}
.contentbox-turquoise {
    background-color: #4cd2da;
    padding: 10px;
    margin-bottom: 70px;
}
.contentbox>img {
    float: left;
    margin-right: 15px;
}
/*GRID RULES*/
.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.row {
    overflow:hidden;
}
.one-whole {
    width: 940px;
}
.three-quarters {
    width: 700px;
}
.one-quarter {
    width: 220px
}
.one-half {
    width: 460px;
}
.two-thirds {
    width: 620px;
}
.one-third {
    width: 300px;
}
.one-quater {
    width: 220px;
}
.one-sixth {
    width: 140px;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
nav ul li {
    display: inline-block;
}
ul {
    list-style: none;
    padding: 0;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
/* Main content*/
.page-header {
    background-color: #5adae2;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 50px;
}
.page-header p {
    padding-left: 15px;
}
/*Home Page */
.page-header.home {
    margin-bottom: 0;
}
.home h1 {
    color: #fff
}
.message {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #4cd2da;
}
.message h3 {
    color: #fff;
}
.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.main-content-bottom {
    padding-bottom: 75px;
}
.blog-tease {
    height: 210px;
    color: #fff;
}
.blog-tease h2 {
    
}
.blog-tease>img {
    float:left;
    
}
/* ABOUT*/
.team h1 {
    margin-bottom: 40px;
}
.team-member {
    margin-bottom: 20px;
}
/* PORTFOLIO*/
.portfolio-item {
    margin-bottom: 10px;
}
.portfolio-title {
    display: none; /*hide portfolio image text */
}
/* BLOG PAGE*/
.info li {
    display: inline-block;
}
.sidebar {
    padding: 10px;
}
.recent-entries img {
    float: left;
    padding-right: 10px;
}
.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}
/*CONTACT*/
.table,
.form p;
.map h2 {
    margin-left: 15px;
}

/* Header CSS */
.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}
.nav {
    padding-top: 60px;
}
.pull-right {
    float: right;
}
/*Footer CSS */
.social {
    text-align: center;
}
body {
    background-color: #999;
}
h1,
h2,
h3 { color: }
.header {
    background-color: #373737;
}
.main {
    background-color: #edecea;
}
.footer {
    background-color: #373737;
}
.footer h4 {
    color: #fff
}
.footer p{
    color: #999;
}
.footer-bottom {
    background-color: #1e1f1f;
    color: #fff;
}
.footer-bottom p {
    color: #999;
}
.footer ul li {
    color: #999;
}
a {
    color: #fff;
}
.title {
    background-color: #5adae2;
    color: #fff;
    
}